﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elicit</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


   
        @RenderBody()
       
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/dist/manifest.js"></script>
    <script type="text/javascript" src="/dist/vendor.js"></script>
    <script type="text/javascript" src="/dist/vendorStyles.js"></script>
    <script type="text/javascript" src="/dist/appStyles.js"></script>
    <script type="text/javascript" src="/dist/app.js"></script>
</body>
</html>